.Map {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid white;
}

#GlobalMap {
  stroke: var(--color-white);
  stroke-width: var(--stroke-line);
  stroke-linecap: round;
  stroke-linejoin: round;

  border: 1px red solid;
}

g path {
  fill: var(--color-land);
  cursor: pointer;
  transition: all 0.3s;
}

g:hover path {
  fill: var(--color-hover);
}


/* 
#Africa:hover path {
  fill: var(--color-hover);
}

#Asia:hover path {
  fill: var(--color-hover);
}

#Oceania:hover path {
  fill: var(--color-hover);
}

#Europe:hover path {
  fill: var(--color-hover);
}

#SouthAmerica:hover path {
  fill: var(--color-hover);
}

#NorthAmerica:hover path {
  fill: var(--color-hover);
} */