body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-black);

  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



* {
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #01171b;
  --color-hover: #006284;
  --color-land: #00394f;
  --color-white: #e9e9e9;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}